/* Reset the default list styles so that they match the default LaTeX styles
 * with counters (1), (2), ...
 */
ol {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0.5em;
  counter-reset: list;
}

ol li {
  padding-left: 1em;
}

ol li:before {
  content: "("counter(list,decimal)")";
  counter-increment: list;
  padding-right: 5px;
}

ol p {
  display: inline;
}

/* Ability to add custom markers for lists.
 */

ol li.custom-item:before {
  content: attr(data-marker);
  padding-right: 5px;
}
